body {
    background-color: #CCCCCC;
}

.black {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
}

.white {
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
}
